<?xml version="1.0"?>
<!--
  ~ This file is part of the Simple Web Demo Free Lottery Management Application.
  ~
  ~ This project is no longer maintained.
  ~ The project is written in Symfony Framework Release.
  ~
  ~ @link https://github.com/scorpion3dd
  ~ @author Denis Puzik <scorpion3dd@gmail.com>
  ~ @copyright Copyright (c) 2023-2024 scorpion3dd
  -->
<ruleset name="PHPMD rule set for Simple Web Demo Free Lottery Management Application, written in Symfony Framework"
         externalInfoUrl="https://phpmd.org/rules/index.html"
         xmlns="http://pmd.sf.net/ruleset/1.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://pmd.sf.net/ruleset_xml_schema.xsd"
         xsi:noNamespaceSchemaLocation="http://pmd.sf.net/ruleset_xml_schema.xsd">
    <description>
        Simple Web Demo Free Lottery Management Application.
        The project is written in Symfony Framework Release in PHP 8.2
    </description>

    <rule ref="rulesets/unusedcode.xml" externalInfoUrl="https://phpmd.org/rules/unusedcode.html">
        <exclude name="UnusedFormalParameter"/>
    </rule>
    <rule ref="rulesets/design.xml" externalInfoUrl="https://phpmd.org/rules/design.html">
        <exclude name="CouplingBetweenObjects"/>
    </rule>
    <rule ref="rulesets/design.xml/CouplingBetweenObjects">
        <properties>
            <property name="maximum" value="31"/>
        </properties>
    </rule>
    <rule ref="rulesets/cleancode.xml" externalInfoUrl="https://phpmd.org/rules/cleancode.html">
        <exclude name="StaticAccess"/>
        <exclude name="ElseExpression"/>
        <exclude name="BooleanArgumentFlag"/>
    </rule>
    <rule ref="rulesets/controversial.xml" externalInfoUrl="https://phpmd.org/rules/controversial.html"/>
    <rule ref="rulesets/codesize.xml" externalInfoUrl="https://phpmd.org/rules/codesize.html">
        <exclude name="ExcessiveParameterList"/>
        <exclude name="TooManyFields"/>
        <exclude name="ExcessivePublicCount"/>
        <exclude name="ExcessiveClassComplexity"/>
        <exclude name="CyclomaticComplexity"/>
        <exclude name="NPathComplexity"/>
    </rule>
    <rule ref="rulesets/codesize.xml/ExcessiveParameterList">
        <properties>
            <property name="minimum" value="25"/>
        </properties>
    </rule>
    <rule ref="rulesets/codesize.xml/TooManyFields">
        <properties>
            <property name="maxfields" value="18"/>
        </properties>
    </rule>
    <rule ref="rulesets/codesize.xml/ExcessivePublicCount">
        <properties>
            <property name="minimum" value="60"/>
        </properties>
    </rule>
    <rule ref="rulesets/codesize.xml/ExcessiveClassComplexity">
        <properties>
            <property name="maximum" value="160"/>
        </properties>
    </rule>
    <rule ref="rulesets/codesize.xml/CyclomaticComplexity">
        <properties>
            <property name="reportLevel" value="15"/>
        </properties>
    </rule>
    <rule ref="rulesets/codesize.xml/NPathComplexity">
        <properties>
            <property name="minimum" value="500"/>
        </properties>
    </rule>
    <rule ref="rulesets/naming.xml" externalInfoUrl="https://phpmd.org/rules/naming.html">
        <exclude name="ShortVariable"/>
        <exclude name="LongVariable"/>
    </rule>
    <rule ref="rulesets/naming.xml/ShortVariable">
        <priority>2</priority>
        <properties>
            <property name="minimum" value="3"/>
            <property name="exceptions" value="i,x,y,io,er,ex,id,tz,om,em,dm,rp,is" />
        </properties>
    </rule>
    <rule ref="rulesets/naming.xml/LongVariable">
        <priority>2</priority>
        <properties>
            <property name="maximum" value="30"/>
        </properties>
    </rule>
</ruleset>