{#
* This file is part of the Simple Web Demo Free Lottery Management Application.
*
* This project is no longer maintained.
* The project is written in Symfony Framework Release.
*
* @link https://github.com/scorpion3dd
* @author Denis Puzik <scorpion3dd@gmail.com>
* @copyright Copyright (c) 2023-2024 scorpion3dd
#}

<h2>{{ 'Welcome!'|trans }}</h2>
<p>
    {{ 'This is the Simple Web Demo Free Lottery Management Application.'|trans }}
    <br>
    {{ "The 'Free Lottery' application, freely available, allows to view a list of active users with open access to a very valuable resource at a given time."|trans }}
</p>
